@using DoAnChuyenNganh.Models;
@model DonDatHang
@{
    ViewBag.Title = "ChonShipper";
    Layout = "~/Views/Layout/HomeLayout.cshtml";
}

<h2>Thông tin đơn hàng<font color="#f65e84"></font></h2>
<div class="form-three widget-shadow">
    @using (Html.BeginForm())
    {
       
        @Html.Hidden("MaDonDatHang", Model.MaDonDatHang);
        @Html.AntiForgeryToken()
    <table class="table table-hover" id="table">
        <tr>
            <td colspan="4">
                <table style="width:100%;">
                    <tr>
                        <td>Mã đơn đặt hàng: <b style="color:red;">@Model.MaDonDatHang</b></td>
                        <td>Thời gian đặt: <b style="color:red;">@Model.ThoiGianDat </b></td>
                        <td>Nơi giao: <b style="color:red;">@Model.DinhViKhachHang </b></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
            <div class="form-group">
                <label for="focusedinput" class="col-sm-2 control-label">Chọn shipper</label>
                <div class="col-sm-8">
                    @Html.DropDownList("MaShipper", null, new { @class = "form-control" })
                </div>
                <button type="submit" class="btn btn-default">Lưu thông tin</button>
            </div>
            }
    </div>
<div>
    
     @Html.Action("DanhSachShipperPartial")
</div>

