@using DoAnChuyenNganh.Models;
@model IEnumerable<DonDatHang>
@{
    ViewBag.Title = "DonHangChuaCoShipper";
    Layout = "~/Views/Layout/HomeLayout.cshtml";
    WebGrid grid = new WebGrid(source: Model, rowsPerPage: 5);
}

<h2 class="title1">Quản lý đơn hàng (Danh sách đơn hàng đã giao và đã thanh toán)</h2>
<br />
<ul class="tabs">
    <li role="presentation" class="tablinks active"><a href="@Url.Action("DonHangChuaCoShipper", "QuanLyDonHang")">Đơn hàng chưa có shipper</a></li>
    <li role="presentation" class="tablinks"><a href="@Url.Action("ChuaThanhToanChuaGiao", "QuanLyDonHang")">Chưa thanh toán và chưa giao</a></li>
    <li role="presentation" class="tablinks "><a href="@Url.Action("ChuaGiaoDaThanhToan", "QuanLyDonHang")">Chưa giao và đã thanh toán</a></li>
    <li role="presentation" class="tablinks "><a href="@Url.Action("DaThanhToanDaGiao", "QuanLyDonHang")">Đã giao & Đã thanh toán </a></li>
</ul>
<br />
<br />
@grid.GetHtml(
       tableStyle: "divTable",
       headerStyle: "gridHead",
       footerStyle: "gridFooter",
       rowStyle: "gridRow",
       alternatingRowStyle: "gridAltRow",
        columns: grid.Columns(
               grid.Column("MaDonDatHang", header: "Mã đơn"),
               grid.Column("MaShipper", header: "Tên Shipper", format: p => p.MaShipper != null ? p.Shipper.HoTen : ""),
               grid.Column("MaKho", header: "Thuộc Kho", format: p => p.MaKho != null ? p.Kho.TenKho : ""),
               grid.Column("ThoiGianDat", header: "Ngày đặt"),
               grid.Column("DinhViKhachHang", "Định vị khách hàng"),
               grid.Column("ThoiGianGiao", header: "Thời gian dự kiến giao (phút)")            
               ))
<style>
    .divTable {
        border: 1px solid #999999;
        width: 100%;
    }

        .divTable td {
            border: 1px solid #999999;
        }

    .gridHead {
        background-color: Green;
    }

        .gridHead > th > a {
            color: #fff;
        }

    .gridFooter {
        font-weight: bold;
    }
    /*.gridRow{
            color: #fff;
            background-color: blueviolet;
        }
        .gridAltRow{
            color: #fff;
            background-color: darkorange;
        }*/
</style>
<style>
    .FooterAdmin {
        display: none;
    }

    .tabs {
        display: flex;
    }

    .tablinks {
        border: none;
        outline: none;
        cursor: pointer;
        width: 100%;
        padding: 1rem;
        font-size: 13px;
        text-transform: uppercase;
        font-weight: 600;
        transition: 0.2s ease;
    }

        .tablinks:hover {
            background: aqua;
            color: #fff;
        }
        /* Tab active */
        .tablinks.active {
            background: aqua;
            color: #fff;
        }

    /* tab content */
    .tabcontent {
        display: none;
    }
        /* Text*/
        .tabcontent p {
            color: #333;
            font-size: 16px;
        }
        /* tab content active */
        .tabcontent.active {
            display: block;
        }
</style>

